.header-container {
  background-image: linear-gradient(to right, #27e08760, #6a1ecb, #6a1ecb);
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  .image-container {
    img {
      margin-top: -2rem;
      margin-left: 2rem;
      width: 210px;
      height: 210px;
      border-radius: 50%;
    }
  }
  .navbar-container {
    width: 50%;
    .navbar {
      .navbar-list-container {
        margin: 20px;
      }
      .nav-item {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 30px;
        color: white;
        display: inline-block;
        margin: 20px;
        text-decoration: none;
        list-style-type: none;
        list-style-position: inside;
      }
    }
  }
}
